@page
@model Sim.UI.Web.Areas.Empregos.IndexModel;

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
}



<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <nav class="row hoverable">
        <div class="row nav-wrapper">
            <div class="input-field col s12 m12 l2">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Ano" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>      
        </div>
    </nav>
</form>

<div class="row">
      
        <div class="row">
            <div class="box-container-card">                    
                <div class="box-column-7">
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Vagas</div>
                            <div class="box-around">                            
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="blue-text font-h4"><i class="material-icons">file_upload</i>@Model.VagasAtivas.Value</p>
                                        <p class="grey-text">(@Model.VagasAtivas.Percent)</p>
                                    </div>                                 
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Finalizadas</div>
                            <div class="box-around">                            
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="light-green-text font-h4"><i class="material-icons">check</i>@Model.VagasFinalizadas.Value</p>
                                        <p class="grey-text">(@Model.VagasFinalizadas.Percent)</p>
                                    </div>                                 
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Acumulado</div>
                            <div class="box-around">                            
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="blue-text font-h4"><i class="material-icons">file_upload</i>@Model.VagasAcumuladas.Value</p>
                                        <p class="grey-text">(@Model.VagasAcumuladas.Percent)</p>
                                    </div>                                 
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Vagas</div>
                            <div class="box-around">
                                <div id="chart_genero" class="card-chart"></div>
                                <!--
                                @if(Model.VagasGeneros != null){
                                    @foreach (var item in Model.VagasGeneros) {
                                        <div class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Label</p>
                                            <p class="blue-text font-h5">@item.Value</p>
                                            <p class="grey-text">(@item.Percent)</p>
                                        </div>
                                    }                                    
                                } -->                             
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Vagas</div>
                            <div class="box-around">
                                <div id="chart_generoAc" class="card-chart"></div> 
                                <!--
                                @if(Model.VagasGenerosAcumuladas != null){
                                    @foreach (var item in Model.VagasGenerosAcumuladas) {
                                        float v1 = item.Value;
                                        float v2 = Model.VagasAcumuladas.Value;
                                        float r = (v1 / v2) * 100;
                                        <div class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Label</p>
                                            <p class="blue-text font-h5">@item.Value</p>
                                            <p class="grey-text">(@item.Percent)</p>
                                        </div>
                                    }                                    
                                } -->                             
                            </div>
                        </div>
                    </div>

                    <div class="box-column-row">
                        <div  class="box-card hoverable">
                            <div class="card-header grey-text">Setores</div>
                            <div class="box-around">    
                                <div id="piechart_setores" class="card-chart"></div>
                                <!--                          
                                @if(Model.ListVagasBySetor != null) {
                                    @foreach (var item in Model.ListVagasBySetor) {
                                        <a class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Label</p>
                                            <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>@item.Value</p>
                                            <p class="grey-text">(@item.Percent)</p>
                                        </a>   
                                    }
                                } -->                                 
                            </div>
                        </div>
                    <!--
                    </div>
                    <div class="box-column-row">-->
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Meses</div>
                            <div class="box-around">
                                <div id="chart_month" class="card-chart"></div>
                                <!--
                                @if(Model.ListVagasByMonth != null) {
                                    @foreach (var item in Model.ListVagasByMonth) {
                                        <a class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Label</p>
                                            <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>@item.Value</p>
                                            <p class="grey-text">(@item.Percent)</p>
                                        </a>   
                                    }
                                } -->                   
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-column-3">
                    <div class="box-card hoverable">
                        <div class="card-header grey-text">Atividades</div>                            
                        @if(Model.ListaOcupacoes != null) {
                            foreach (var item in Model.ListaOcupacoes.Take(20)) {
                                <div class="font-size-12 pdn-10 grey-text">
                                    <p class="truncate"><strong class="light-green-text">@item.Value</strong> - @item.Label</p>
                                </div>
                                <div class="divider"></div>
                            }
                        }                       
                    </div>
                </div>
            </div>
        </div>

</div>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"> 
        
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(DoPieChart);
        
        function DoPieChart() {     
            $.getJSON('/SimBI/Empregos/?handler=EmpregosAtivosByGeneroAc', (data) => {
                var dataArray = [['Rotulo','Valor','Percent']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value, item.percent]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {       
                    title:"Acumulado",
                    //legend: 'none',
                    pieHole:0.4                     
                };  
                var chart = new google.visualization.PieChart(document.getElementById('chart_generoAc'));  
                chart.draw(data, options);
            });      
            $.getJSON('/SimBI/Empregos/?handler=EmpregosAtivosByGenero', (data) => {
                var dataArray = [['Rotulo','Valor','Percent']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value, item.percent]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {
                    title:"Ativos",   
                    //legend: 'none',    
                    pieHole:0.4 
                };  
                var chart = new google.visualization.PieChart(document.getElementById('chart_genero'));  
                chart.draw(data, options);
            });
            $.getJSON('/SimBI/Empregos/?handler=Setores', (data) => {
                var dataArray = [['Rotulo','Valor','Percent']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value, item.percent]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {
                    title:"Distribuição",
                    //legend: 'none',      
                    pieHole:0.4 
                };  
                var chart = new google.visualization.PieChart(document.getElementById('piechart_setores'));  
                chart.draw(data, options);
            });
            $.getJSON('/SimBI/Empregos/?handler=Anual', (data) => {
                var dataArray = [['Rotulo','Valor']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = { 
                    title:"Variação mensal",
                    chartArea: {  
                        width: '50%'  
                    },
                    hAxis: {  
                        minValue: 0  
                    },  
                    vAxis: {  
                        title: 'Vagas'  
                    },
                    colors: ['#008080'],
                    legend: { position: 'bottom' }
                };  
                var chart = new google.visualization.LineChart(document.getElementById('chart_month'));  
                chart.draw(data, options);
            });     
        }  

    </script>     
}