@page
@model Sim.UI.Web.Areas.Empregos.IndexModel;

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <nav class="row hoverable">
        <div class="row nav-wrapper">
            <div class="input-field col s12 m12 l2">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Ano" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>      
        </div>
    </nav>
</form>

<div class="row">
      
        <div class="row">
            <div class="box-container-card">                    
                <div class="box-column-7">
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Vagas</div>
                            <div class="box-around">                            
                                    @{
                                        float va1 = Model.VagasAtivas.Value;
                                        float va2 = Model.VagasAcumuladas.Value;
                                        float ra = (va1 / va2) * 100;
                                    }
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="blue-text font-h4"><i class="material-icons">file_upload</i>@Model.VagasAtivas.Value</p>
                                        <p class="grey-text">(@ra.ToString("N2")%)</p>
                                    </div>                                 
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Finalizadas</div>
                            <div class="box-around">                            
                                    @{
                                        float vf1 = Model.VagasFinalizadas.Value;
                                        float vf2 = Model.VagasAcumuladas.Value;
                                        float rf = (vf1 / vf2) * 100;
                                    }
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="amber-text font-h4"><i class="material-icons">star</i>@Model.VagasFinalizadas.Value</p>
                                        <p class="grey-text">(@rf.ToString("N2")%)</p>
                                    </div>
                                 
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Genero</div>
                            <div class="box-around">
                                @if(Model.VagasGeneros != null){
                                    @foreach (var item in Model.VagasGeneros) {
                                        float v1 = item.Value;
                                        float v2 = Model.VagasAtivas.Value;
                                        float r = (v1 / v2) * 100;
                                        <div class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Key</p>
                                            <p class="blue-text font-h5">@item.Value</p>
                                            <p class="grey-text">(@r.ToString("N2")%)</p>
                                        </div>
                                    }                                    
                                }                              
                            </div>
                        </div>
                    </div>

                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Acumulado</div>
                            <div class="box-around">                            
                                    @{
                                        float vc1 = Model.VagasAcumuladas.Value;
                                        float vc2 = Model.VagasAcumuladas.Value;
                                        float rc = (vc1 / vc2) * 100;
                                    }
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="blue-text font-h4"><i class="material-icons">file_upload</i>@Model.VagasAcumuladas.Value</p>
                                        <p class="grey-text">(@rc.ToString("N2")%)</p>
                                    </div>                                 
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Acumulado</div>
                            <div class="box-around">
                                @if(Model.VagasGenerosAcumuladas != null){
                                    @foreach (var item in Model.VagasGenerosAcumuladas) {
                                        float v1 = item.Value;
                                        float v2 = Model.VagasAcumuladas.Value;
                                        float r = (v1 / v2) * 100;
                                        <div class="box-cell-item-flex font-size-12">
                                            <p class="grey-text">@item.Key</p>
                                            <p class="blue-text font-h5">@item.Value</p>
                                            <p class="grey-text">(@r.ToString("N2")%)</p>
                                        </div>
                                    }                                    
                                }                              
                            </div>
                        </div>
                    </div>

                    <div class="box-column-row">
                        <div  class="box-card hoverable">
                            <div class="card-header grey-text">...</div>
                            <div class="box-cell">                               
                                @for (int m = 1; m < 5; m++) {
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">...</p>
                                        <p class="blue-text font-h6">00</p>
                                        <p class="grey-text">(00("N2")%)</p>
                                    </a>
                                }                                
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">...</div>
                            <div class="box-around">
                                @for (int m = 1; m < 13; m++) {
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">...</p>
                                        <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>00</p>
                                        <p class="grey-text">(00("N2")%)</p>
                                    </a>   
                                }                      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-column-3">
                    <div class="box-card hoverable" style="overflow-x:auto;">
                        <div class="card-header grey-text">Atividades</div>                            
                        @if(Model.ListaOcupacoes != null) {
                            foreach (var item in Model.ListaOcupacoes) {
                                <div class="font-size-12 pdn-h-4 pdn-v-10 grey-text">
                                    <p class="truncate"><strong class="light-green-text">@item.Value</strong> - @item.Key</p>
                                </div>
                                <div class="divider"></div>
                            }
                        }                       
                    </div>
                </div>
            </div>
        </div>

</div>
