@page "/bi/empresas/cnaes/{m}"
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.CnaesModel
@using Sim.UI.Web.Areas.SimBI.Pages.Empresas
@inject Sim.Application.Cnpj.Interfaces.IAppServiceCnpj appServiceCnpj;

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
    ViewData["BIActivePage"] = Sim.UI.Web.Areas.SimBI.Pages.Empresas.EmpNavPages.Cnae;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

@{ var municipios = await appServiceCnpj.DoListMicroRegiaoJahuAsync();}
<ul id='dropdown1' class='dropdown-content'>
  @foreach (var item in municipios)
  {
    <li><a class="submit" asp-route-m="@item.Codigo" onclick="CloseDropdown()">@item.Descricao</a></li>
  }
</ul>
<ul id='mobile-demo' class='dropdown-content'>
    <li class="@EmpNavPages.EmpNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Index" asp-route-m="@Model.MunicipioSelecionado">Empresas</a></li>
    <li class="@EmpNavPages.CnaeNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Cnaes" asp-route-m="@Model.MunicipioSelecionado">Cnaes</a></li>
    <li class="@EmpNavPages.MappNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Mapping" asp-route-m="@Model.MunicipioSelecionado">Mapa</a></li>
    <li><a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons">arrow_drop_down</i>@Model.Municipio</a></li>
</ul>

<form method="post">    
    <nav class="row transparent">
        <div class="row nav-wrapper">
            <div class="input-field col s6 m6 l6 no-padding">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>             
            <a class='right dropdown-trigger hide-on-large-only' href='#' data-target='mobile-demo'><i class="material-icons alpha-text-5">menu arrow_drop_down</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="@EmpNavPages.EmpNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Index" asp-route-m="@Model.MunicipioSelecionado">Empresas</a></li>
                <li class="@EmpNavPages.CnaeNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Cnaes" asp-route-m="@Model.MunicipioSelecionado">Cnaes</a></li>
                <li class="@EmpNavPages.MappNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Mapping" asp-route-m="@Model.MunicipioSelecionado">Mapa</a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>@Model.Municipio<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</form>

<div class="row">
    @foreach (var item in Model.ListCnaes)
    {
        @foreach (var item1 in item.ListaSecao)
        {
            <div class="row mgn-b-0 border-b font-size-12 mgn-h-2">
                <strong>@item1.Secao.Key <a href="">@item1.Secao.Value</a></strong>
            </div>
            <div class="row">
                @foreach (var item2 in item1.ListaClasse)
                {
                    var _classname = item2.Classe.Key.Remove(0, 2).Trim();
                    var _cnaei = item2.Classe.Key.Remove(2, item2.Classe.Key.Length - 2) + "00000";
                    var _cnaef = item2.Classe.Key.Remove(2, item2.Classe.Key.Length - 2) + "99999";
                    var _count = item2.ListaSubClasse.Count();
                    var _emp = 0;
                    var _href = $"/bi/empresas/lista/{_cnaei}/{_cnaef}/{Model.MunicipioSelecionado}";
                    foreach(var count in item2.ListaSubClasse)
                    {
                        _emp += count.Value;
                    }

                    <div class="col s6 m3 l4">
                        <div class="card border-a hoverable" title="@_classname">
                            <div class="card-content">
                                <ul>                                    
                                    <li class="truncate">@_classname</li>
                                    <li><a class="modal-trigger orange-text" href="#viewmodal"
                                        data-cnaei="@_cnaei" data-munic="@Model.MunicipioSelecionado"
                                        data-cnaef="@_cnaef">Subclasses [@_count]</a></li>
                                    <li><a href="@_href" target="_blank" >Empresas [@_emp]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                }
            </div>
        }
    }
</div>

<div class="row font-size-12 mgn-t-10">
    Informações extraidas da base de dados da RFB
</div>
<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollection"></ul>        
    </div>
    <div class="modal-footer">
        <a id="btn-export" href="" class="btn waves-effect waves-light green" title="Exportar"><i
                class="material-icons">description file_download</i></a>
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".btnsubmit").click(function () {
                $('#formbiemp').submit();
                $(this).prop('disabled', true);
            });
            $(".modal-trigger").click(function () {
                var p1 = $(this).data('cnaei');
                var p2 = $(this).data('cnaef');
                var p3 = $(this).data('munic');
                $(".showcollection").empty();
                $.getJSON(`/bi/empresas/cnaes/${p3}?ci=${p1}&cf=${p2}&m=${p3}&handler=SubClasses`, function (data) {                    
                    $.each(data, function (i, item) {
                        var v1 = item.item1;
                        var v2 = item.item2;
                        var v3 = item.item3;
                        $(".showcollection").append(
                            `<li class="collection-item">
                                <div>${v2}<a href="/bi/empresas/lista/${v3}/${v3}/${p3}" class="secondary-content" target="_blank"><span class="new badge" data-badge-caption="${v1} Empresas"></span></a></div>
                            </li>`
                        );
                    });
                });
            });
        });
    </script>
}