@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
    ViewData["BIActivePage"] = Sim.UI.Web.Areas.SimBI.Pages.Empresas.EmpNavPages.Empresa;
}

<partial name="_NavBar" model="@Model.Input.Municipio" />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    @foreach (var emp in Model.ListEmpresas)
    {
        <form method="post">
            <div class="row">
                <div class="col s6 l9 m9">
                    <div class="alpha-text-4 font-size-12 truncate">
                        <br />Informações extraidas da base de dados da RFB em 12-07-2022
                        <br />Não contabilizam os CNPJs com CNAE principal "9492800 - Serviços políticos"              
                    </div>
                </div>
                <div class="col s6 l3 m3 right mgn-t-12">
                    <div class="input-field valign-wrapper white z-depth-1 hoverable rounded-default pdn-h-8" style="margin:0px;">
                        <input asp-for="Input.Ano" />
                        <button class="btn waves-effect waves-light submit"><i class="material-icons">refresh</i></button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="box-container-card">                    
                <div class="box-column-7">
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Empresas @Model.Input.Ano</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <i class="material-icons">file_upload</i><span class="font-h4 blue-text">@emp.Formalizacoes.Value</span>
                                </div>
                                <div class="grey-text">
                                    <i class="material-icons">file_download</i><span class="font-h4 red-text">@emp.Baixas.Value</span>
                                </div>
                            </div>                            
                            <div class="box-card-action font-size-12">
                                <div class="box-between">
                                    <div class="grey-text box-middle">Mortalidade em 24 meses</div>
                                    @foreach (var tx in emp.ListaMortalidadeEmpresas)
                                    {
                                        <div class="grey-text box-middle">@tx.Value</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Porte</div>
                            <div class="box-around">                            
                                @foreach (var op in emp.Porte)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h5">@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </div>
                                }   
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Fiscal</div>
                            <div class="box-around">
                                @{
                                    float et = emp.EmpresasAtivas.Value;
                                    float osn = emp.SimplesNacional.Value - emp.OptanteMEI.Value;
                                    float mei = emp.OptanteMEI.Value;
                                    float lrp = emp.EmpresasAtivas.Value - emp.SimplesNacional.Value;

                                    float vlrp = (lrp / et) * 100;
                                    float vsn = (osn / et) * 100;
                                    float vmei = (mei / et) * 100;
                                }
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">LRP</p>
                                    <p class="blue-text font-h5">@lrp</p>
                                    <p class="grey-text">(@vlrp.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">S N</p>
                                    <p class="blue-text font-h5">@osn</p>
                                    <p class="grey-text">(@vsn.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">MEI</p>
                                    <p class="blue-text font-h5">@emp.OptanteMEI.Value</p>
                                    <p class="grey-text">(@vmei.ToString("N2")%)</p>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div class="box-card hoverable" style="overflow-x: auto;">
                            <div class="card-header grey-text">Setores</div>
                            <div class="box-cell">
                                @foreach (var st in emp.ListaSetores)
                                {
                                    float v1 = st.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@st.Key</p>
                                        <p class="blue-text font-h6">@st.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                        <!--
                                        <div class="divider"></div>
                                        <div class="box-cell-item-flex-desc">
                                            @if (st.Key == "Serviços")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Servicos)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text truncate" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Comércio")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Comercio)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text truncate" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Indústria")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Indistria)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Construção")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Construcao)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Agropecuária")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Agro)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }  
                                        </div>-->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Novas Empresas</div>
                            <div class="box-around">
                                @foreach (var op in emp.ListaMensal)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </div>   
                                }                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-column-3">
                    <div class="box-card hoverable" style="overflow-x:auto;">
                        <div class="card-header grey-text">Atividades</div>                            
                        @{int v = 0;}
                        @foreach (var op in emp.ListaAtividades)
                        {
                            if (v < 10)
                            {
                                <div class="font-size-12 pdn-h-4 grey-text">
                                    <p class="truncate"><strong class="light-green-text">@op.Value</strong> - @op.Key</p>
                                </div>
                                <div class="divider"></div>
                            }
                            else
                            {
                                break;
                            }
                            v++;
                        }                            
                    </div>
                </div>
            </div>
        </div>
    }
</div>

