@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
    ViewData["BIEmpActivePage"] = "Empresas";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.Input.Modo == "Atividades")
{
    <partial name="_BiCnae" model="Model.ListCnaes" />
}
else
{
    <div class="row">
        @foreach (var emp in Model.ListEmpresas)
        {
            <blockquote class="alpha-text-4">
                Informações extraidas da base de dados da RFB em 12-07-2022
                <br />Não contabilizam os CNPJs com CNAE principal "9492800 - Serviços políticos"              
            </blockquote>

            <div class="row">
                <div class="box-container-card">
                    <div class="box-column-7">
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Empresas @Model.Input.Ano</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <i class="material-icons">file_upload</i><span class="font-h4 blue-text">@emp.Formalizacoes.Value</span>
                                </div>
                                <div class="grey-text">
                                    <i class="material-icons">file_download</i><span class="font-h4 red-text">@emp.Baixas.Value</span>
                                </div>
                            </div>                            
                            <div class="box-card-action font-size-12">
                                <div class="box-between">
                                    <div class="grey-text box-middle">Mortalidade em 24 meses</div>
                                    @foreach (var tx in emp.ListaMortalidadeEmpresas)
                                    {
                                        <div class="grey-text box-middle">@tx.Value</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Porte</div>
                            <div class="box-around">                            
                                @foreach (var op in emp.Porte)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h5">@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </div>
                                }   
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Fiscal</div>
                            <div class="box-around">
                                @{
                                    float et = emp.EmpresasAtivas.Value;
                                    float osn = emp.SimplesNacional.Value - emp.OptanteMEI.Value;
                                    float mei = emp.OptanteMEI.Value;
                                    float lrp = emp.EmpresasAtivas.Value - emp.SimplesNacional.Value;

                                    float vlrp = (lrp / et) * 100;
                                    float vsn = (osn / et) * 100;
                                    float vmei = (mei / et) * 100;
                                }
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">LRP</p>
                                    <p class="blue-text font-h5">@lrp</p>
                                    <p class="grey-text">(@vlrp.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">S N</p>
                                    <p class="blue-text font-h5">@osn</p>
                                    <p class="grey-text">(@vsn.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                    <p class="grey-text">MEI</p>
                                    <p class="blue-text font-h5">@emp.OptanteMEI.Value</p>
                                    <p class="grey-text">(@vmei.ToString("N2")%)</p>
                                </div>                                 
                            </div>
                        </div>
                        <div class="box-card hoverable" style="overflow-x: auto;">
                            <div class="card-header grey-text">Setores</div>
                            <div class="box-cell">
                                @foreach (var st in emp.ListaSetores)
                                {
                                    float v1 = st.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@st.Key</p>
                                        <p class="blue-text font-h6">@st.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                        <!--
                                        <div class="divider"></div>
                                        <div class="box-cell-item-flex-desc">
                                            @if (st.Key == "Serviços")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Servicos)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text truncate" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Comércio")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Comercio)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text truncate" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Indústria")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Indistria)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Construção")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Construcao)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }
                                            @if (st.Key == "Agropecuária")
                                            {
                                                int c = 0;
                                                @foreach (var at in emp.Agro)
                                                {
                                                    if (c < 5)
                                                    {
                                                        <p class="grey-text" title="@at.Key">[@at.Value] @at.Key</p>
                                                    }
                                                    else
                                                        break;
                                                    c++;
                                                }
                                            }  
                                        </div>-->
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box-card hoverable">
                            <div class="card-header grey-text">Novas Empresas</div>
                            <div class="box-around">
                                @foreach (var op in emp.ListaMensal)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex grey lighten-5 font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </div>   
                                }
                            
                            </div>
                        </div>
                    </div>
                    <div class="box-column-3">
                        <div class="box-card hoverable" style="overflow-x:auto;">
                            <div class="card-header grey-text">Atividades</div>                            
                            @{int v = 0;}
                            @foreach (var op in emp.ListaAtividades)
                            {
                                if (v < 5)
                                {
                                    <div class="font-size-12 pdn-4 center">
                                        <p class="grey-text lighten-2 truncate">@op.Key</p>                                
                                        <p class="light-green-text">@op.Value</p>
                                    </div>
                                    <div class="divider"></div>
                                }
                                else
                                {
                                    break;
                                }
                                v++;
                            }                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>




    <div class="row">
        @foreach (var emp in Model.ListEmpresas)
        {

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card hoverable">
                        @if (Model.Input.Mes == "99")
                        {

                            <table class="responsive-table striped centered">
                                <caption class="grey-text">Demostrativo Geral</caption>
                                <thead>
                                    <tr>
                                        @foreach (var op in emp.ListaSituacao)
                                        {
                                            if (op.Key != "Baixada")
                                            {
                                                <th class="grey-text darken-3">@op.Key</th>
                                            }
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        @{ var cst = 0;} 

                                        @foreach(var c in emp.ListaSituacao)
                                        {
                                            if (c.Key != "Baixada")
                                            {
                                                cst += c.Value;
                                            }
                                        }


                                        @foreach (var op in emp.ListaSituacao)
                                        {
                                            if (op.Key != "Baixada")
                                            {
                                                float v1 = op.Value;
                                                float v2 = cst;
                                                float r = (v1 / v2) * 100;
                                                <td class="blue-text darken-3">@op.Value <span class="purple-text">(@r.ToString("N2")%)</span></td>
                                            }

                                        }
                                    </tr>
                                </tbody>
                            </table>

                        }                        
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l12">
                <div id="piechart" class="col  white z-depth-1" hidden></div>
                <div id="chart2" class="col  white z-depth-1" hidden></div>
            </div>
        }
    </div>
}



<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="loadingpage"></div>
        <table class="striped" style="font-size:12px;">
        <thead>
          <tr>
              <th>#</th>
              <th>CNPJ</th>
              <th>Razão Social</th>
              <th>Tel</th>
              <th>Email</th>
              <th>Cnae</th>
          </tr>
        </thead>
        <tbody class="showcollection"></tbody>
      </table>
    </div>
    <div class="modal-footer">
        <a id="btn-export" href="" class="btn waves-effect waves-light green" title="Exportar"><i class="material-icons">description file_download</i></a>
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>        
        $(function () {
            $(".btnsubmit").click(function () {
                $('#formbiemp').submit();
                $(this).prop('disabled', true);                
            });
            $(".modal-trigger").click(function () {
                var param0 = $(this).data('cnaei');
                var param1 = $(this).data('cnaef');
                var param2 = $('#municip').val();
                var param3 = $('#situacaocad').val();
                var cont = 0;

                var a = document.getElementById('btn-export');
                a.href = `/SimBI/Empresas/Export?ci=${param0}&cf=${param1}&m=${param2}&a=Ativa`;

                $(".showcollection").empty();
                $(".loadingpage").append(`<div class="progress"><div class="indeterminate"></div></div>`);
                $.getJSON(`/SimBI/Empresas?ci=${param0}&cf=${param1}&m=${param2}&a=Ativa&handler=Preview`, function (data) {
                    $(".loadingpage").empty();
                    $.each(data, function (i, item) {

                        var v1 = item.item1;
                        var vm = v1.slice(0,2) + "." + v1.slice(2,5) + "." + v1.slice(5,8) + "/" + v1.slice(8,12) + "-" + v1.slice(12,14);
                        var v2 = item.item2;
                        var v3 = item.item3 != null? item.item3: "";
                        var v4 = item.item4 != null? item.item4: "";
                        var v5 = item.item5;
                        
                        cont++;

                        $(".showcollection").append(                            
                            `<tr>
                            <td>${cont}</td>
                            <td><a href="/Censo/Empresas/Detalhe?id=${v1}" target="_blank">${vm}</a></td>
                            <td>${v2}</td>
                            <td>${v3}</td>
                            <td>${v4}</td>
                            <td>${v5}</td>
                            </tr>`                        
                        );
                    });
                });
            });
        });
    </script>
}