@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel
@using Sim.UI.Web.Areas.SimBI.Pages.Empresas
@inject Sim.Application.Cnpj.Interfaces.IAppServiceCnpj appServiceCnpj;

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
    ViewData["BIActivePage"] = Sim.UI.Web.Areas.SimBI.Pages.Empresas.EmpNavPages.Empresa;
}

@{ var municipios = await appServiceCnpj.DoListMicroRegiaoJahuAsync();}
@{var nome = municipios.Where(n=>n.Codigo.Contains(Model.Input.Municipio));}
<ul id='dropdown1' class='dropdown-content'>
  @foreach (var item in municipios)
  {
    <li><a class="submit" asp-route-m="@item.Codigo">@item.Descricao</a></li>
  }
</ul>
<ul id='mobile-demo' class='dropdown-content'>
    <li class="@EmpNavPages.EmpNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Index" asp-route-m="@Model.Input.Municipio">Empresas</a></li>
    <li class="@EmpNavPages.CnaeNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Cnaes" asp-route-m="@Model.Input.Municipio">Cnaes</a></li>
    <li class="@EmpNavPages.MappNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Mapping" asp-route-m="@Model.Input.Municipio">Mapa</a></li>
    <li><a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons">arrow_drop_down</i>@nome.SingleOrDefault().Descricao</a></li>
</ul>
<form method="post">
    <nav class="row">
        <div class="row nav-wrapper">
            <div class="input-field col s6 m6 l6">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Input.Ano" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>      
            <a class='right dropdown-trigger hide-on-large-only' href='#' data-target='mobile-demo'><i class="material-icons alpha-text-5">menu arrow_drop_down</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="@EmpNavPages.EmpNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Index" asp-route-m="@Model.Input.Municipio">Empresas</a></li>
                <li class="@EmpNavPages.CnaeNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Cnaes" asp-route-m="@Model.Input.Municipio">Cnaes</a></li>
                <li class="@EmpNavPages.MappNavClass(ViewContext)"><a class="submit" asp-area="SimBI" asp-page="./Mapping" asp-route-m="@Model.Input.Municipio">Mapa</a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>@nome.SingleOrDefault().Descricao<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</form>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    @foreach (var emp in Model.ListEmpresas)
    {      
        <div class="row">
            <div class="box-container-card">                    
                <div class="box-column-8">
                    <div class="box-column-row">
                        <div class="box-card">
                            <div class="card-header grey-text">Empresas @Model.Input.Ano</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <i class="material-icons">file_upload</i><span class="font-h4 blue-text">@emp.Formalizacoes.Value</span>
                                </div>
                                <div class="grey-text">
                                    <i class="material-icons">file_download</i><span class="font-h4 red-text">@emp.Baixas.Value</span>
                                </div>
                            </div>                            
                            <div class="box-card-action font-size-12">
                                <div class="box-between">
                                    <div class="grey-text box-middle">Mortalidade em 24 meses</div>
                                    @foreach (var tx in emp.ListaMortalidadeEmpresas)
                                    {
                                        <div class="grey-text box-middle">@tx.Value</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-card">
                            <div class="card-header grey-text">Porte</div>
                            <div class="box-around">                            
                                @foreach (var op in emp.Porte)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <div class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h5">@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </div>
                                }   
                            </div>
                        </div>
                        <div class="box-card">
                            <div class="card-header grey-text">Fiscal</div>
                            <div class="box-around">
                                @{
                                    float et = emp.EmpresasAtivas.Value;
                                    float osn = emp.SimplesNacional.Value - emp.OptanteMEI.Value;
                                    float mei = emp.OptanteMEI.Value;
                                    float lrp = emp.EmpresasAtivas.Value - emp.SimplesNacional.Value;

                                    float vlrp = (lrp / et) * 100;
                                    float vsn = (osn / et) * 100;
                                    float vmei = (mei / et) * 100;
                                }
                                <div class="box-cell-item-flex font-size-12">
                                    <p class="grey-text">LRP</p>
                                    <p class="blue-text font-h5">@lrp</p>
                                    <p class="grey-text">(@vlrp.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex font-size-12">
                                    <p class="grey-text">S N</p>
                                    <p class="blue-text font-h5">@osn</p>
                                    <p class="grey-text">(@vsn.ToString("N2")%)</p>
                                </div>
                                <div class="box-cell-item-flex font-size-12">
                                    <p class="grey-text">MEI</p>
                                    <p class="blue-text font-h5">@emp.OptanteMEI.Value</p>
                                    <p class="grey-text">(@vmei.ToString("N2")%)</p>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div  class="box-card">
                            <div class="card-header grey-text">Setores</div>
                            <div class="box-around">
                                @foreach (var st in emp.ListaSetores)
                                {
                                    float v1 = st.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@st.Key</p>
                                        <p class="blue-text font-h6">@st.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div class="box-card">
                            <div class="card-header grey-text">Novas Empresas</div>
                            <div class="box-around">
                                @foreach (var op in emp.ListaMensal)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h6"><i class="tiny material-icons">file_upload</i>@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </a>   
                                }                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-column-2">
                    <div class="box-card" style="overflow-x:auto;">
                        <div class="card-header grey-text">Atividades</div>                            
                        @{int v = 0;}
                        @foreach (var op in emp.ListaAtividades)
                        {
                            if (v < 10)
                            {
                                <div class="font-size-12 pdn-h-4 grey-text">
                                    <p class="truncate"><strong class="light-green-text">@op.Value</strong> - @op.Key</p>
                                </div>
                                <div class="divider"></div>
                            }
                            else
                            {
                                break;
                            }
                            v++;
                        }                            
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="alpha-text-4 font-size-12 truncate">
        <br />Informações extraidas da base de dados da RFB em 13-08-2022 
        <br />Não contabilizam os CNPJs com CNAE principal "9492800 - Serviços políticos"      
    </div>
    <a href="" id="btn-export" class="light-blue-text pdn-v-10" title="Exportar"><i class="material-icons mgn-t-10">file_download</i></a>    
</div>    

@section scripts{
    <script>    
        $(window).on('load', function () { 
            var a = document.getElementById('btn-export');
            a.href = `/SimBI/Empresas/Export?municipio=${@Model.Input.Municipio}&handler=ExportData`; 
        });
    </script>
}