@page "/bindings/"
@model Sim.UI.Web.Pages.Bind.IndexModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Vínculos";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Clientes;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.ClientesVincular;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <nav class="row transparent">
        <div class="nav-wrapper">
            <div class="input-field col s6 m6 l6 no-padding">
                <input id="search" placeholder="Digite o CPF ou CNPJ aqui para pesquisar!" onkeypress="handle(event)"
                    asp-for="Search" type="search" autofocus required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
            <ul class="right">
                <li><a asp-page="./Add"><i class="material-icons blue-text">add</i></a></li>
            </ul>
        </div>
    </nav>
</form>

<div class="card">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Empresa</th>
                <th>Pessoa</th>
                <th>Vínculo</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Listar != null)
            {
                var _c = 0;
                @foreach (var item in Model.Listar)
                {
                    _c++;
                    var _vinculo = item.Vinculo;
                    <tr>
                        <td>@_c</td>
                        <td>@Html.DisplayFor(model => item.Empresa.CNPJ)<br>@Html.DisplayFor(model =>
                    item.Empresa.Nome_Empresarial)
                        </td>
                        <td>@Html.DisplayFor(model => item.Pessoa.CPF)<br>@Html.DisplayFor(model =>
                    item.Pessoa.Nome)</td>
                        <td>@Html.DisplayFor(model => _vinculo)</td>
                        <td>
                            <a class="waves-effect waves-light orange btn-small" asp-page="./edit" asp-route-id="@item.Id"><i
                                    class="material-icons">edit</i></a>
                            |
                            <a class="waves-effect waves-light red btn-small" href="#"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>