@page
@model Sim.UI.Web.Pages.Pat.Consulta.IndexModel
@{
    ViewData["Title"] = "Consulta";
    ViewData["ActivePagePat"] = Web.Pages.Pat.PatNav.Finalizada;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.PATEmpregos;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <nav class="transparent">
        <div class="nav-wrapper">
            <form>        
                <div class="input-field col s6 m6 l6 no-padding">
                    <input id="search" asp-for="InputSearch" type="search" placeholder="Digite aqui para pesquisar" autofocus required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
                <ul class="right">
                    <li class="@PatNav.InicioNavClass(ViewContext)"><a asp-page="/Pat/Index" title="Vagas abertas"><i class="material-icons orange-text">list</i></a></li>
                    <li class="@PatNav.FinalizadaNavClass(ViewContext)"><a asp-page="/Pat/Consulta/Index" title="Ir para vagas preenchidas"><i class="material-icons teal-text">check</i></a></li> 
                    <li class="@PatNav.NovoNavClass(ViewContext)"><a asp-page="/Pat/Add/Index" title="Abrir nova vaga!"><i class="material-icons blue-text">add</i></a></li>  
                </ul>
            </form>            
        </div>
    </nav>
</div>

<div class="row">
    <div class="card">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Vagas Emprego
                    </th>
                    <th>
                        Experiência
                    </th>
                    <th>Gênero</th>
                    <th>Inclusiva</th>
                    <th>
                        Salário
                    </th>
                    <th>Status</th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
            @{
                int cont = 0;
            }

            @if (Model.ListaEmpregos != null)
            {
                foreach (var item in Model.ListaEmpregos)
                {
                    <tr>
                        <td>
                            @{
                                cont++;
                            }
                            @cont.ToString()
                        </td>
                        <td>
                            <a class="modal-trigger" href="#viewmodal" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Empresa.Nome_Empresarial)</a>
                        </td>
                        <td>
                            @{
                                var d1 = Convert.ToDateTime(item.Data);
                                var datafinal = d1.ToShortDateString();
                            }
                            @Html.DisplayFor(modelItem => datafinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vagas) - 
                            @Html.DisplayFor(modelItem => item.Ocupacao)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Experiencia)                    
                        </td>
                        <td>@Html.DisplayFor(model => item.Genero)</td>
                        <td>@Html.DisplayFor(model => item.Inclusivo)</td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.Salario)/@Html.DisplayFor(modelItem => item.Pagamento)
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.Status)</td>
                        <td>
                            <a class="btn btn-small orange waves-effect" asp-page="/Pat/Manager/Index" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCNAE').mask('00.00-0-00');
        $('#clsinput').click(function(){
            $("input[id='search']").val('');
        });
    </script>
}