@using Sim.UI.Web.Pages.BancoPovo

<div class="row">
    <nav class="transparent">
        <div class="nav-wrapper">
            <form method="post">        
                <div class="input-field col s6 m6 l6 no-padding">
                    <input id="search" name="src" type="search" placeholder="Digite aqui para pesquisar" autofocus required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
                <ul class="right">
                    <li class="@NavPage.InicioBPClass(ViewContext)"><a asp-page="/BancodoPovo/Index" title="Contratos em Aberto"><i class="material-icons orange-text">list</i></a></li>
                    <li class="@NavPage.AprovadosBPClass(ViewContext)"><a asp-page="/BancodoPovo/Aprovados/Index" title="Contratos Aprovados Adimplentes"><i class="material-icons amber-text">star</i></a></li> 
                    <li class="@NavPage.InadimplentesBPClass(ViewContext)"><a asp-page="/BancodoPovo/Inadimplentes/Index" title="Contratos Aprovados Inadimplentes"><i class="material-icons red-text">money_off</i></a></li> 
                    <li class="@NavPage.RenegociadosBPClass(ViewContext)"><a asp-page="/BancodoPovo/Renegociados/Index" title="Contratos Aprovados Renegociados"><i class="material-icons cyan-text">currency_exchange</i></a></li> 
                    <li class="@NavPage.RecusadosBPClass(ViewContext)"><a asp-page="/BancodoPovo/Recusados/Index" title="Contratos Recusados"><i class="material-icons deep-orange-text">report_off</i></a></li> 
                    <li class="@NavPage.LiquidadosBPClass(ViewContext)"><a asp-page="/BancodoPovo/Liquidados/Index" title="Contratos Finalizados"><i class="material-icons green-text">check_circle</i></a></li> 
                    <li class="@NavPage.NovoBPClass(ViewContext)"><a asp-page="/BancodoPovo/Add/Index" title="Novo Contrato"><i class="material-icons blue-text">add</i></a></li>                      
                </ul>
            </form>            
        </div>
    </nav>
</div>