@page
@model Sim.UI.Web.Pages.Pat.IndexModel
@{
    ViewData["Title"] = "Lista";
    ViewData["ActivePagePat"] = Web.Pages.Pat.PatNav.Inicio;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.PATEmpregos;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <nav class="transparent">
        <div class="nav-wrapper">
            <form method="post">        
                <div class="input-field col s6 m6 l6 no-padding">
                    <input id="search" asp-for="InputSearch" type="search" placeholder="Digite aqui para pesquisar" autofocus required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
                <ul class="right">
                    <li class="@PatNav.InicioNavClass(ViewContext)"><a asp-page="/Pat/Index" title="Vagas abertas"><i class="material-icons orange-text">list</i></a></li>
                    <li class="@PatNav.FinalizadaNavClass(ViewContext)"><a asp-page="/Pat/Consulta/Index" title="Ir para vagas preenchidas"><i class="material-icons teal-text">check</i></a></li> 
                    <li class="@PatNav.NovoNavClass(ViewContext)"><a asp-page="/Pat/Add/Index" title="Abrir nova vaga!"><i class="material-icons blue-text">add</i></a></li>                      
                </ul>
            </form>            
        </div>
    </nav>
</div>

<div class="row">
    <div class="card">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Vagas Emprego
                    </th>
                    <th>
                        Experiência
                    </th>
                    <th>Gênero</th>
                    <th>Inclusiva</th>
                    <th>
                        Salário
                    </th>
                    <th>Status</th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
            @{
                int cont = 0;
            }

            @if (Model.ListaEmpregos != null)
            {
                foreach (var item in Model.ListaEmpregos)
                {
                    <tr>
                        <td>
                            @{
                                cont++;
                            }
                            @cont.ToString()
                        </td>
                        <td class="t-uppercase">                                                
                            @{ 
                                var _isempresa = item.Empresa != null ? item.Empresa.Nome_Empresarial : "Anônimo";
                                var _isperson = item.Pessoa != null ? item.Pessoa.Nome : _isempresa;
                                
                                var _empID = item.Empresa != null ? item.Empresa.Id.ToString() : new Guid().ToString();
                                var _clientID = item.Pessoa != null ? item.Pessoa.Id.ToString() : _empID;
                            }
                            <a class="modal-trigger" href="#viewmodal" data-id="@_clientID">@Html.DisplayFor(modelItem => _isperson)</a>
                        </td>
                        <td>
                            @{
                                var d1 = Convert.ToDateTime(item.Data);
                                var datafinal = d1.ToShortDateString();
                            }
                            @Html.DisplayFor(modelItem => datafinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vagas) - 
                            @Html.DisplayFor(modelItem => item.Ocupacao)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Experiencia)                    
                        </td>
                        <td>@Html.DisplayFor(model => item.Genero)</td>
                        <td>@Html.DisplayFor(model => item.Inclusivo)</td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.Salario)/@Html.DisplayFor(modelItem => item.Pagamento)
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.Status)</td>
                        <td>
                            <a class="btn-small orange waves-effect" asp-page="/Pat/Manager/Index" asp-route-id="@item.Id" title="Editar Vagas"><i class="material-icons">edit</i></a>
                            <a class="btn-small blue waves-effect" asp-page-handler="VagaPreenchida" asp-route-id="@item.Id" title="Fechar Vagas"><i class="material-icons">check</i></a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<div id="viewmodal" class="modal modal-footer">
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCNAE').mask('00.00-0-00');
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Pat?id=${customerId}&handler=Cliente`, (data) => {
                    $(".modal-content").append(`<div class="mgn-10">`);
                    $(".modal-content").append(`<p>Cliente</p><div class="divider"></div>`);                    
                    $(".modal-content").append(`<p>CNPJ/CPF: <strong>${data.cnpj ?? data.cpf}</strong></p>`);  
                    $(".modal-content").append(`<p>Cliente: <strong>${data.nome_Empresarial ?? data.nome}</strong></p>`);  
                    $(".modal-content").append(`<p>Contato: <strong>${data.telefone ?? data.tel_Movel}</strong></p>`);  
                    $(".modal-content").append(`<p>E-mail: <strong>${data.email ?? data.email}</strong></p>`);  
                    $(".modal-content").append(`<p>Descricao: <strong>${data.atividade_Principal ?? data.nome}</strong></p>`);  
                    $(".modal-content").append(`</div>`);
                });
            });
        });
    </script>
}