@using Sim.Domain.Evento.Model;
@model IEnumerable<(string Mes, int Qtde, IEnumerable<EEvento>)>

<div style="height: 16px;"></div>
@if (Model != null)
{
    var cor = "blue-grey";

    @foreach (var item in Model)
    {
        <div class="row mgn-b-0 border-b font-size-12 mgn-h-2">
            <strong>@item.Mes @item.Qtde eventos</strong>
        </div>

        <div class="row">
            @foreach (var l in item.Item3)
            {
                @if (l.Situacao <= EEvento.ESituacao.Ativo)
                {
                    @if ((int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 30)
                    {
                        cor = "green";
                    }
                    else if ((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 30 &&
                    (int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 15)
                    {
                        cor = "orange";
                    }
                    else if ((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 15 &&
                    (int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 1)
                    {
                        cor = "deep-orange";
                    }
                    else if ((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 1 &&
                    (int)l.Data.Value.Subtract(DateTime.Today).TotalDays >= 0)
                    {
                        cor = "red";
                    }
                    else
                    {
                        cor = "blue-grey";
                    }
                }
                <!---->
                <div class="col s12 m6 l4">
                    @{
                        var disabledbutton = l.Data.Value.AddDays(1) < DateTime.Now ? "disabled" : "";
                    }

                    <div class="card hoverable">
                        <div class="card-image @cor lighten-3 waves">
                            <div class="card-title-panel @cor-text text-darken-4 truncate t-uppercase pdn-h-10 pdn-v-30">
                                <a class="btn-floating btn-small halfway-fab waves-effect waves-light @cor lighten-2 left"
                                    asp-page="/Agenda/Eventos/Edit/Index"                       asp-route-id="@l.Id" title="Editar"><i class="material-icons white-text">edit</i></a>
                                <span class="mgn-l-4">@l.Nome</span> 
                            </div>
                        </div>
                        <div class="card-content truncate border-l border-r pdn-b-0">
                            @l.Tipo [<span class="@cor-text">@l.Situacao.ToString()</span>], @l.Owner
                            <br />@l.Data.Value
                            <br />@l.Formato, @l.Vagas() vagas.
                        </div>
                        <div class="card-action border-l border-r border-b">
                            <a class="btn-floating waves-effect waves-light blue @disabledbutton right mgn-n-t-10"
                                asp-page="/Agenda/Inscricoes/Novo/Index" asp-route-id="@l.Codigo" title="Inscrever"><i
                                    class="material-icons">add</i></a>

                            <a class="@cor-text mgn-t-0 pdn-t-10" asp-page="/Agenda/Inscricoes/Index"
                                asp-route-id="@l.Codigo"><i>Inscritos
                                    @l.Inscricoes()</i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}


