@using Sim.Domain.Evento.Model;
@model IEnumerable<(string Mes, int Qtde, IEnumerable<EEvento>)>

<div style="height: 16px;"></div>
    @if (Model != null)
    {
        var cor = "blue-grey";

        @foreach (var item in Model)
        { 
            <div class="row mgn-b-0 border-b indigo-text text-darken-1 font-size-12 mgn-h-2">                
                <strong>@item.Mes @item.Qtde eventos</strong>                              
            </div>
            
            <div class="row">
                @foreach(var l in item.Item3)
                {
                    @if(l.Situacao <= EEvento.ESituacao.Ativo)
                    {
                        @if((int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 30)
                        {
                            cor = "green";
                        }
                        else if((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 30 && (int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 15)
                        {
                            cor = "orange";
                        }
                        else if((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 15 && (int)l.Data.Value.Subtract(DateTime.Today).TotalDays > 1)
                        {
                            cor = "red";
                        }
                        else if((int)l.Data.Value.Subtract(DateTime.Today).TotalDays <= 1 && (int)l.Data.Value.Subtract(DateTime.Today).TotalDays >= 0)
                        {
                            cor = "pink";
                        }
                        else
                        {
                            cor = "blue-grey";
                        }
                    }
                
                    <div class="col s12 m6 l4 xl3">
                        <div class="card hoverable">
                             <div class="card-image @cor lighten-3 waves">
                                <p><strong><span class="@cor-text  text-darken-2 truncate" style="font-size:12px; margin-left:10px;">@l.Tipo (@l.Situacao.ToString())</span></strong></p>                        
                                <p class="card-header truncate @cor-text text-darken-2 t-uppercase">@l.Nome</p>
                                <div style="height: 10px;"></div>
                                <a class="btn-floating halfway-fab waves-effect waves-@cor white left" asp-page="/Agenda/Eventos/Edit/Index" asp-route-id="@l.Id" title="Editar"><i class="material-icons @cor-text">edit</i></a>
                                
                                @{ var disabledbutton = l.Data.Value.AddDays(1) < DateTime.Now ? "disabled" : "" ; }

                                <a class="btn-floating halfway-fab waves-effect waves-light blue @disabledbutton" asp-page="/Agenda/Inscricoes/Novo/Index" asp-route-id="@l.Codigo" title="Inscrever"><i class="material-icons">add</i></a>                            
                            </div>
                            <div class="card-content truncate border-l border-r">
                                Data: <span class="@cor-text">@l.Data</span>                      
                                <br />Formato: @l.Formato
                                <br />Setor: @l.Owner
                                <br />Vagas: @l.Vagas()                        
                            </div>
                            <div class="card-action border-l border-r border-b">                                
                                <a class="@cor-text" asp-page="/Agenda/Inscricoes/Index" asp-route-id="@l.Codigo">Inscritos @l.Inscricoes()</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }


