@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.Setor.IndexModel;
@{
    //Layout = "../_Layout.cshtml";
    ViewData["Title"] = "Index";
    ViewData["ActivePageSettings"] = SettingsNavPages.Setores;
    ViewData["ActivePage"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.Configuracoes;
    ViewData["ActivePageLi"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.ConfigSistema;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <form method="post">
        <div class="col s12" hidden>
            <input asp-for="Input.Id"/>
            <input asp-for="Unidade.Id"/>
            <input asp-for="Organizacao.Id"/>
        </div>
        <div class="row z-depth-1 white rounded-default">
            <div class="card-header pdn-v-10">Seção para incluir e gerênciar os setores da unidade</div>
            <div class="input-field col s12 m12 l12">
                <input asp-for="Organizacao.Nome" />
                <label asp-for="Organizacao.Nome"></label>                         
            </div> 
            <div class="input-field col s12 m16 l6">
                <input asp-for="Unidade.Acronimo" />
                <label asp-for="Unidade.Acronimo"></label>                         
            </div>    
            <div class="input-field col s12 m6 l6 valign-wrapper">
                <input asp-for="Input.Nome" required />
                <label asp-for="Input.Nome"></label> 
                <button class="btn waves-effect waves-light"><i class="material-icons">add</i></button>                        
            </div>       
        </div>
    </form>

    <table class="responsive-table">
        <thead>
            <tr>
                <th>Setor</th>
                <th>Servicos</th>
                <th>Situação</th>
                <th>Ações</th>
                <th>Gerênciar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Setores != null)
            {
                foreach (var item in Model.Setores)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>
                            @if(item.Servicos != null) {
                                @foreach (var srv in item.Servicos) {
                                  <div class="font-size-10">@Html.DisplayFor(modelItem => srv.Nome)</div>
                                }
                            }
                        </td>
                        <td>
                            <div class="switch">
                                <label><input class="icheckbox" data-id="@item.Id" checked="@item.Ativo" type="checkbox" />Off<span class="lever"></span>On</label>
                            </div>   
                        </td>
                        <td>
                            <a asp-area="Settings" asp-page="/Common/Index" class="btn-small waves-effect waves-light grey"><i class="material-icons">undo</i></a>                            
                            <a asp-area="Settings" asp-page="Manage/Index" asp-route-id="@item.Id" asp-route-og="@Model.Organizacao.Id" class="btn-small waves-effect waves-light orange"><i class="material-icons">edit</i></a>
                            <a asp-area="Settings" asp-page="Remove/Index" asp-route-id="@item.Id" asp-route-og="@Model.Organizacao.Id" class="btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                        </td>
                        <td>
                            <a asp-area="Settings" asp-page="/Common/Servicos/Index" asp-route-id="@item.Id" class="btn-small waves-effect waves-light blue" title="Gerênciar Serviços"><i class="material-icons">construction navigate_next</i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>   

</div>
