@page
@using System.Globalization
@model Sim.UI.Web.Pages.BancoPovo.IndexModel
@{
    ViewData["Title"] = "Banco do Povo";
    ViewData["ActivePageBPP"] = Web.Pages.BancoPovo.NavPage.Inicio;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="_NavPage" />
<div class="card">
    <div class="card-header grey-text">Meus Contratos<i class="material-icons left">text_snippet</i></div>
        @if(Model.MeusContratos != null) {
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Processo</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Situação</th>
                        <th>Valor</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>     
                    @{ var _cont = 0; }
                    @foreach (var c in Model.MeusContratos) {
                        _cont++;
                        <tr>
                            <td>@_cont</td>
                            <td>@Html.DisplayFor(model => c.Numero)</td>
                            <td>
                                @{ 
                                    var _isempresa = c.Empresa != null ? c.Empresa.Nome_Empresarial : c.Cliente.Nome;
                                }
                                @Html.DisplayFor(modelc => _isempresa)
                            </td>
                            <td>@Html.DisplayFor(model => c.Data)</td>
                            <td>
                                @{ var _situacao = c.Situacao.ToString();}
                                <a class="btn-small waves-effect waves-light blue modal-trigger showmodal" data-id="@c.Id" href="#modal1">@Html.DisplayFor(model => _situacao)</a>                                                         
                            </td>
                            <td>@NumberFormatInfo.CurrentInfo.CurrencySymbol @Html.DisplayFor(model => c.Valor)</td>
                            <td><a class="btn-small waves-effect waves-light orange" asp-page="./Edit/Index" asp-route-id="@c.Id"><i class="material-icons">edit_document</i></a></td>
                        </tr>                        
                    }       
                </tbody>
            </table>
        }
    <div class="card-action">
        Contratos aguardando aprovação
        <span class="orange-text right">@NumberFormatInfo.CurrentInfo.CurrencySymbol @Model.TotalCredito</span>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form method="post">
            <div class="card-header">Atualizar Informações</div>
            <div class="col s12" hidden>
                <input id="idservico" asp-for="GetID"/>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <select id="idsituacao" class="browser-default" asp-for="GetSituacao" asp-items="Model.ESituacoes"></select>
                    <button class="btn lighten-1 waves-effect waves-light mgn-l-10" type="submit" asp-page-handler="GoSituacao"><i class="material-icons">check_circle</i></button>              
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('.showmodal').click(function () {
                var _id = $(this).data('id'); 
                var _name = $(this).data('nome');      
                document.getElementById('idservico').value = _id;      
                document.getElementById('inputmodalnome').value = _name;                
            });
            $("#updateservico").click(function () {
                var _id = document.getElementById('idservico').value;
                var _dom = document.getElementById('dominioid').value;  
                var _nom = document.getElementById('inputmodalnome').value;                 
                $.get(`/Settings/Common/Servicos?id=${_id}&dominio=${_dom}&nome=${_nom}&handler=Manager`);
            });
        });
    </script>
}