@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.IndexModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePageSettings"] = SettingsNavPages.Municipio;
    ViewData["ActivePage"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.Configuracoes;
    ViewData["ActivePageLi"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.ConfigSistema;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">
        <div class="col s12" hidden>
            <label asp-for="Input.Id"></label>
            <input asp-for="Input.Id"/>
        </div>
        <div class="row border-b">
            <div class="card-header pdn-v-10">Seção para incluir e gerenênciar organizações<i class="material-icons left">home</i></div>
            @if(Model.Listar != null) {
                @if(!Model.Listar.Any()) {
                    <div class="input-field col s12 m4 l4">
                        <select asp-for="Input.Hierarquia" asp-items="Model.Hierarquia" ></select>
                        <label asp-for="Input.Hierarquia"></label>                         
                    </div>    
                    <div class="input-field col s12 m4 l4">
                        <input asp-for="Input.Nome" />
                        <label asp-for="Input.Nome"></label>                         
                    </div>      
                    <div class="input-field col s12 m4 l4 valign-wrapper">
                        <input asp-for="Input.Acronimo" />
                        <label asp-for="Input.Acronimo"></label>    
                        <button type="submit" asp-page-handler="Add" class="btn waves-effect waves-light"><i class="material-icons">add</i></button>                     
                    </div>   
                    <div class="input-field col s12 m6 l6" hidden>
                        <input asp-for="Input.Dominio" />
                        <label asp-for="Input.Dominio"></label>                        
                    </div>
                }
            }
 
        </div>
    </form>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Acrônimo</th>
                <th>Nível</th>                
                <th>Situação</th>
                <th>Ações</th>
                <th>Gerênciar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Listar != null)
            {
                foreach (var item in Model.Listar)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Acronimo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Hierarquia)</td>
                        <td>
                            <div class="switch">
                                <label><input class="icheckbox" data-id="@item.Id" checked="@item.Ativo" type="checkbox" /><span class="lever"></span></label>
                            </div>   
                        </td>
                        <td>         
                            <a asp-area="Settings" asp-page="Manage/Index" asp-route-id="@item.Id" class="btn-small waves-effect waves-light orange"><i class="material-icons">edit</i></a>                
                            <a asp-area="Settings" asp-page="Remove/Index" asp-route-id="@item.Id" class="btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                        </td>
                        <td>
                            <a asp-area="Settings" asp-page="Unidade/Index" asp-route-id="@item.Id" class="btn-small waves-effect waves-light blue"><i class="material-icons right">navigate_next</i>Unidade</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table> 
</div>

@section scripts{
    <script>
        $(function () {
            $(".icheckbox").click(function () {
                var g_id = $(this).data('id');
                var chk = $(this).prop("checked");                
                $.get(`/Settings/Common?id=${g_id}&st=${chk}&handler=Status`);
            });
        });
    </script>
}