@page
@model Sim.UI.Web.Pages.Empresa.RFB.IndexModel
@{
    ViewData["Title"] = "Empresas";
    ViewData["ActivePage"] = EmpresaNavPages.Inicio;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="row white rounded-default z-depth-1-half">
        <div class="row pdn-10 mgn-b-0">
            <a class="btn blue waves-effect waves-light left" asp-page="/Empresa/Novo/Index" title="Adicionar Empresa"><i class="material-icons">domain add</i></a>                        
            <a class="dropdown-trigger btn waves-effect waves-light right" href="#" title="Opções de consulta" data-target="dropdownrfb"><i class="material-icons left">manage_search</i>RFB</a>            
        </div>
        <div class="divider"></div>
        <div class="row mgn-b-0">
            <div class="col s12">
                <div class="input-field col s12 m12 x12 valign-wrapper">
                    <select asp-for="Tipo">
                        <option value="0">CNPJ Base</option>
                        <option value="1">Razão Social</option>
                        <option value="2">Sócios</option>
                    </select>
                    <input asp-for="Search" placeholder="Digite aqui"/>                    <
                    <button class="btn waves-effect waves-light submit">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<ul id="dropdownrfb" class="dropdown-content">
    <li><a asp-page="/Empresa/RFB/Index">CNPJ Base</a></li>
    <li><a asp-page="/Empresas/RFB/RSocial">Razao Social</a></li>
    <li><a asp-page="/Empresas/RFB/Socios">Nome Sócio</a></li>
</ul>

<div class="card" style="overflow-y:auto;">
    <table class="striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Ano</th>
                <th>CNPJ</th>                
                <th>Nome Empresarial</th>
                <th>Tel</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th>Endereço</th>
                <th>Município</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 1;
                int t = (Model.Pagination.PageIndex - 1) * Model.Pagination.ItemsViews;
            }
            @if(Model.Pagination != null)
            {

                @foreach (var item in Model.Pagination)
            {
                    
            <tr>
                <td>@Functions.Extensions.Contador(cont++, t)</td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.Estabelecimento.DataInicioAtividade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento.Telefone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento.CorreioEletronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento.SituacaoCadastral)
                </td>
                <td>
                    @{var end = string.Format("{0}, {1}",item.Estabelecimento.Logradouro, item.Estabelecimento.Numero);}
                    @Html.DisplayFor(modelItem => end) 
                </td>
                <td>@Html.DisplayFor(modelItem => item.Cidade.Descricao)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtividadePrincipal.Codigo) @Html.DisplayFor(modelItem => item.AtividadePrincipal.Descricao)
                </td>
            </tr>
            }
            }
            
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.Pagination.HasPreviusPage ? "disabled" : "";
        var nextDisabled = !Model.Pagination.HasNextPage ? "disabled" : "";
    }

    <div class="card-action right-align">
        <span class="left teal-text">Página @Model.Pagination.PageIndex de @Model.Pagination.TotalPages - @Model.RegCount Reg.</span>
        <a asp-page="./Index" asp-route-s="@Model.Search" asp-route-t="@Model.Tipo" asp-route-p="@(Model.Pagination.PageIndex - 1)" class="btn-small waves-effect waves-light @prevDisabled">
            <i class="material-icons">navigate_before</i>
        </a>
        <a asp-page="./Index" asp-route-s="@Model.Search" asp-route-t="@Model.Tipo" asp-route-p="@(Model.Pagination.PageIndex + 1)" class="btn-small waves-effect waves-light @nextDisabled">
            <i class="material-icons">navigate_next</i> 
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000');
    </script>
}