@page
@model Sim.UI.Web.Pages.Empresa.RFB.IndexModel
@using Sim.UI.Web.Functions
@{
    ViewData["Title"] = "Empresas";
    ViewData["ActivePageRFB"] = EmpresaNavPages.RFB;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form>
    <nav class="row transparent">
        <div class="nav-wrapper">             
            <div class="input-field col s6 m6 l6">
                <input id="search" placeholder="Digite aqui Razão Social ou Nome Sócio para pesquisar!" asp-for="src" onkeypress="handle(event)" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>            
            <ul class="right">
                <li><a asp-page="/Empresa/Novo/Index" title="Incluir Empresa!"><i class="material-icons">add</i></a></li>
                <li><a asp-page="/Empresa/Consulta/Index" title="Consulta Avançada!"><i class="material-icons">manage_search</i></a></li>
                <li class="active"><a asp-page="/Empresa/RFB/Index" title="Opções de consulta">RFB</a></li>
            </ul>
        </div>
    </nav>
</form>

<div class="card">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ano</th>
                <th>CNPJ</th>                
                <th>Nome Empresarial</th>
                <th>Tel</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th>Endereço</th>
                <th>Município</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 1;
                int t = (Model.Pagination.PageIndex - 1) * Model.Pagination.ItemsViews;  
            }

            @if(Model.Pagination != null)
            {
                    
                @foreach (var item in Model.Pagination)
                {                        
                    <tr>
                        <td>@Functions.Extensions.Contador(cont++, t)</td>
                        <td>                    
                            @Html.DisplayFor(modelItem => item.Estabelecimento.DataInicioAtividade)
                        </td>
                        <td>
                            @{
                                var _cnpj = item.CNPJ.MaskRemove();
                            }
                            <a class="blue-text" asp-page="/Empresa/Preview/Index" asp-route-id="@_cnpj" target="_blank">@Html.DisplayFor(modelItem => item.CNPJ)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estabelecimento.Telefone1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estabelecimento.CorreioEletronico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estabelecimento.SituacaoCadastral)
                        </td>
                        <td>
                            @{var end = string.Format("{0}, {1}",item.Estabelecimento.Logradouro, item.Estabelecimento.Numero);}
                            @Html.DisplayFor(modelItem => end) 
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Cidade.Descricao)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AtividadePrincipal.Codigo) @Html.DisplayFor(modelItem => item.AtividadePrincipal.Descricao)
                        </td>
                    </tr>
                }
                
            }
            
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.Pagination.HasPreviusPage ? "disabled" : "";
        var nextDisabled = !Model.Pagination.HasNextPage ? "disabled" : "";
    }
    <div class="card-action center">
        <span class="left">Página @Model.Pagination.PageIndex de @Model.Pagination.TotalPages - @Model.RegCount Reg.</span>     
        <a asp-page="./Index" asp-route-src="@Model.src" asp-route-p="@(Model.Pagination.PageIndex - 1)" class="btn-small waves-effect waves-light @prevDisabled">
            <i class="material-icons">navigate_before</i>
        </a>
        <a asp-page="./Index" asp-route-src="@Model.src" asp-route-p="@(Model.Pagination.PageIndex + 1)" class="btn-small waves-effect waves-light @nextDisabled">
            <i class="material-icons">navigate_next</i> 
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000');
    </script>
}