@page
@model Sim.UI.Web.Areas.Admin.Pages.Manager.UserRolesModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Perfil de Acesso";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="card">
     
    <form method="post">

        <div class="card-header grey-text">@ViewData["Title"]<i class="left material-icons">account_box</i></div>

        <div class="card-content">
            <dl class="row">
                <dt class="col s12 m2 l2">
                    @Html.DisplayNameFor(model => model.Input.Id)
                </dt>
                <dd class="col s12 m10 l10">
                    @Html.DisplayFor(model => model.Input.Id)
                </dd>
                <dt class="col s12 m2 l2">
                    Identificador
                </dt>
                <dd class="col s12 m10 l10">
                    @Html.DisplayFor(model => model.Input.UserName)
                </dd>
                <dt class="col s12 m2 l2">
                    Nome
                </dt>
                <dd class="col s12 m10 l10">
                    @Html.DisplayFor(model => model.Input.Name)
                    @Html.DisplayFor(model => model.Input.LastName)
                </dd>
                <dt class="col s12 m2 l2">
                    Genero
                </dt>
                <dd class="col s12 m10 l10">
                    @Html.DisplayFor(model => model.Input.Gender)
                </dd>
                <dt class="col s12 m2 l2">
                    @Html.DisplayNameFor(model => model.Input.Email)
                </dt>
                <dd class="col s12 m10 l10">
                    @Html.DisplayFor(model => model.Input.Email)
                    @{
                        if (!Model.Input.EmailConfirmed)
                        {
                            <button type="submit" asp-page-handler="ConfirmEmail" asp-route-id="@Model.Input.Id" class="btn btn-small waves-effect">Confirmar Email</button>                            
                        }
                    }
                </dd>
                <dt class="col s12 m2 l2">
                    
                </dt>
                <dd class="col s12 m10 l10">
                    <a asp-area="Identity" asp-page="/Account/ResetPassword" asp-route-code="@Model.ResetCode" class="waves-effect waves-light btn">Resetar Senha</a>
                </dd>
            </dl>
            <div class="row">
                <div class="input-field col s6 m6 l6 valign-wrapper">
                    <select asp-for="Selecionado" asp-items="Model.RoleList">
                        <option selected>-- Associar Perfil --</option>
                    </select>
                    <button type="submit" asp-page-handler="AddRole" asp-route-id="@Model.Input.Id" class="btn waves-effect">Adicionar</button>
                </div>
            </div>
            <div class="divider"></div>
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>
                            Perfil Habilitado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.ListRoles != null)
                    {

                        foreach (var item in Model.Input.ListRoles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item)
                                </td>

                                <td>
                                    <button type="submit" asp-page-handler="RemoveRole" asp-route-id="@Model.Input.Id" asp-route-role="@item" class="btn btn-small waves-effect" title="Excluir Role"><i class="material-icons">delete_outline</i></button>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

