@page
@model Sim.UI.Web.Pages.Empresa.IndexModel

@{
    ViewData["Title"] = "Empresas";
    ViewData["ActivePage"] = EmpresaNavPages.Inicio;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="white rounded-default z-depth-1-half">
        <div class="row pdn-10 mgn-b-0">
            <a class="btn blue waves-effect waves-light left" asp-page="/Empresa/Novo/Index" title="Adicionar Empresa"><i class="material-icons">domain add</i></a>
            <div class="right-align">                
                <button class="btn waves-effect waves-light submit">Pesquisar</button>
                <button asp-page-handler="Export" class="btn waves-effect waves-light green" title="Exportar"><i class="material-icons">description file_download</i></button>
                <span class="grey-text lighten-2"> | </span>
                <a class="dropdown-trigger btn waves-effect waves-light" href="#" title="Opções de consulta" data-target="dropdownrfb"><i class="material-icons left">manage_search</i>RFB</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mgn-b-0">
            <div class="col s12">
                <div class="input-field col s6 m3 xl3">
                    <input asp-for="Input.CNPJ" id="inputCNPJ"/>
                    <label asp-for="Input.CNPJ"></label>
                </div>
                <div class="input-field col s6 m3 xl3">
                    <input asp-for="Input.CNAE" id="inputCNAE" />
                    <label asp-for="Input.CNAE"></label>
                </div>
                <div class="input-field col s6 m3 xl3">
                    <input asp-for="Input.Logradouro" />
                    <label asp-for="Input.Logradouro"></label>
                </div>
                <div class="input-field col s6 m3 xl3">
                    <input asp-for="Input.Bairro" />
                    <label asp-for="Input.Bairro"></label>
                </div>
                <div class="input-field col s12 m12 x12">
                    <input asp-for="Input.RazaoSocial" />
                    <label asp-for="Input.RazaoSocial"></label>
                </div>
            </div>
        </div>
    </div>
</form>

<ul id="dropdownrfb" class="dropdown-content">
    <li><a asp-area="Censo" asp-page="/Empresas/Index">CNPJ Base</a></li>
    <li><a asp-area="Censo" asp-page="/Empresas/Consulta-razao-social">Razao Social</a></li>
    <li><a asp-area="Censo" asp-page="/Empresas/Consulta-socio">Nome Sócio</a></li>
</ul>

<div class="card" style="overflow-y:auto;">
    <table class="striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Ano</th>
                <th>CNPJ</th>                
                <th>Nome Empresarial</th>
                <th>Tel</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th>Endereço</th>
                <th>Município</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
            @{ var cont = 0;}
            @if(Model.Input.ListaEmpresas != null)
            {
                @foreach (var item in Model.Input.ListaEmpresas)
            {
                    cont++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cont)
                </td>
                <td>
                    @{ var ano = item.Data_Abertura.Value.Year; }
                    @Html.DisplayFor(modelItem => ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Empresarial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao_Cadastral)
                </td>
                <td>
                    @{var end = string.Format("{0}, {1}",item.Logradouro, item.Numero);}
                    @Html.DisplayFor(modelItem => end) 
                </td>
                <td>@Html.DisplayFor(modelItem => item.Municipio)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNAE_Principal) @Html.DisplayFor(modelItem => item.Atividade_Principal)
                </td>
            </tr>
            }
            }
            
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCNAE').mask('00.00-0-00');
    </script>
}
