@page
@model Sim.UI.Web.Pages.Empresa.IndexModel
@using Sim.UI.Web.Functions

@{
    ViewData["Title"] = "Empresas";
    ViewData["ActivePageEmp"] = EmpresaNavPages.Inicio;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form>
    <nav class="row transparent">
        <div class="nav-wrapper">             
            <div class="input-field col s6 m6 l6 no-padding">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Src" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>            
            <ul class="right">
                <li><a asp-page="/Empresa/Novo/Index" title="Incluir Empresa!"><i class="material-icons blue-text">add</i></a></li>
                <li><a asp-page="/Empresa/Consulta/Index" title="Consulta Avançada!"><i class="material-icons">manage_search</i></a></li>
                <li><a asp-page="/Empresa/RFB/Index" title="Opções de consulta">RFB</a></li>
            </ul>
        </div>
    </nav>
</form>

<div class="card">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ano</th>
                <th>CNPJ</th>                
                <th>Nome Empresarial</th>
                <th>Tel</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th>Endereço</th>
                <th>Município</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 1;
                int t = (Model.PaginationEmpresas.PageIndex - 1) * Model.PaginationEmpresas.ItemsViews;
            }
            @if(Model.PaginationEmpresas != null)
            {

                @foreach (var item in Model.PaginationEmpresas)
                {                    
                    <tr>
                        <td>@Functions.Extensions.Contador(cont++, t)
                        <td>
                            @{ var ano = item.Data_Abertura.Value.Year; }
                            @Html.DisplayFor(modelItem => ano)
                        </td>
                        <td>
                            @{
                                var _cnpj = item.CNPJ.MaskRemove();
                            }
                            <a class="blue-text" asp-page="/Empresa/Preview/Index" asp-route-id="@_cnpj" target="_blank">@Html.DisplayFor(modelItem => item.CNPJ)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao_Cadastral)
                        </td>
                        <td>
                            @{var end = string.Format("{0}, {1}",item.Logradouro, item.Numero);}
                            @Html.DisplayFor(modelItem => end) 
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Municipio)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Atividade_Principal)
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.PaginationEmpresas.HasPreviusPage ? "disabled" : "";
        var nextDisabled = !Model.PaginationEmpresas.HasNextPage ? "disabled" : "";
        var _isdisabled = Model.PaginationEmpresas.Any() ? null : "disabled";
    }
    <div class="card-action center">         
        <span class="left">Página @Model.PaginationEmpresas.PageIndex de @Model.PaginationEmpresas.TotalPages - @Model.RegCount Reg.</span>
        <a asp-page="/Empresa/Export/Index" asp-route-ss="@Model.Src" class="btn-small waves-effect waves-light green @_isdisabled right" title="Exportar"><i class="material-icons">description file_download</i></a>
      
        <a asp-page="./Index" asp-route-Src="@Model.Src" asp-route-pag="@(Model.PaginationEmpresas.PageIndex - 1)" class="btn-small waves-effect waves-light @prevDisabled">
            <i class="material-icons">navigate_before</i>
        </a>
        <a asp-page="./Index" asp-route-Src="@Model.Src" asp-route-pag="@(Model.PaginationEmpresas.PageIndex + 1)" class="btn-small waves-effect waves-light @nextDisabled">
            <i class="material-icons">navigate_next</i> 
        </a> 
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Atendimento?id=${customerId}&handler=Preview`, (data) => {
                    $.each(data, function (i, item) {
                        $(".modal-content").append(`<div>Protocolo: ${item.protocolo}</div>`);
                        $(".modal-content").append(`<div>Data: ${item.data}</div>`);
                        $(".modal-content").append(`<div>Setor: ${item.setor}</div>`);
                        $(".modal-content").append(`<div>Canal: ${item.canal}</div>`);
                        $(".modal-content").append(`<div>Serviços: ${item.servicos}</div>`);
                        $(".modal-content").append(`<div>Descricao: ${item.descricao}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>Nome: ${item.pessoa.nome}</div>`);
                        $(".modal-content").append(`<div>CPF: ${item.pessoa.cpf}</div>`);
                        $(".modal-content").append(`<div>Data Nascimento: ${item.pessoa.data_Nascimento}</div>`);
                        $(".modal-content").append(`<div>CEP: ${item.pessoa.cep}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.logradouro} ${item.pessoa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.bairro}, ${item.pessoa.cidade} - ${item.pessoa.uf}</div>`);
                        $(".modal-content").append(`<div>Telefone: ${item.pessoa.tel_Movel}, E-mail: ${item.pessoa.email}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnpj} ${item.empresa.situacao_Cadastral}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Empresarial}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Fantasia}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.data_Abertura}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnaE_Principal} ${item.empresa.atividade_Principal}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.atividade_Secundarias}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cep} ${item.empresa.logradouro} ${item.empresa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.bairro} ${item.empresa.municipio} ${item.empresa.uf}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.telefone} ${item.empresa.email}</div>`);
                    });
                });

            });
        });
    </script>
}
