@using Microsoft.AspNetCore.Identity
@using Sim.Identity.Entity
@using Sim.Application.Interfaces

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAppServiceStatusAtendimento MeuStatus

@{
    var _lstatus = await MeuStatus.ListUserAsync(User.Identity.Name);
    var _status = _lstatus.FirstOrDefault().Online;
    var _idstatus = _lstatus.FirstOrDefault().Id;
}
<input id="meustatusonline" type="text" value="@_idstatus" hidden/>

<div class="navbar-fixed">
    <nav class="navbar z-depth-0">
        <div class="nav-wrapper teal lighten-2">
            <a href="#" data-target="sidenav-left" class="sidenav-trigger alpha-w-text-9"><i class="material-icons">menu</i></a>
            <a class="navbar-page-name alpha-w-text-9">@ViewData["Title"]</a>
            <ul class="right">                
                    @if(SignInManager.IsSignedIn(User))
                    {
                        var DisplayName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Name;
                        var DisplayLastName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).LastName;
                        
                        var fn = DisplayName.FirstOrDefault();
                        var ln = DisplayLastName.FirstOrDefault();

                        var account_color = "";

                        @if (!_status)
                        { account_color = "alpha-text-5"; }
                        else
                        { account_color = "alpha-w-text-9"; }

                        <li class="dropdown-trigger @LayoutNavPages.LoginNavClass(ViewContext)" data-target="dropdownuser">
                            <a id="btnstatus" class="@account_color" href="#">@DisplayName @ln<i class="left material-icons">account_circle</i></a>
                        </li>
                        <li class="waves-effect waves-light">
                            <a asp-area="Identity" asp-page="/Account/Logout" class="alpha-w-text-9">Sair<i class="left material-icons">logout</i></a>
                        </li>
                    }
            </ul>
        </div>
    </nav>
</div>

<div id="dropdownuser" class="dropdown-content rounded-default row">
    <div class="center-align"><a class="grey-text" asp-area="Identity" asp-page="/Account/Manage/Index">Meu Perfil</a></></div>
    <div class="divider"></div>
    <div class="center-align"><div class="switch" title="Alterar meu status"><label style="font-size:10px;">OFF<input id="chkstatus" checked="@_status" type="checkbox" onclick="myStatus()" /><span class="lever"></span>ON</label></div></div>          
</div>

<script>
    function myStatus() {
        var st = document.querySelector('#chkstatus');
        var uid = document.querySelector('#meustatusonline').value;
        const btnstatus = document.querySelector('#btnstatus');
        btnstatus.classList.remove('alpha-text-5');
        if (!st.checked) { $('#btnstatus').addClass('alpha-text-5'); }        
        //alert(uid);
        var formData = { id: uid, val: st.checked };
        $.get('/Identity/OnlineStatus', { id: uid, val : st.checked }, 
        function(returnedData){
            //alert(returnedData);
        }).fail(function(){
            alert("Erro");
        });
    }
</script>

