@using Sim.UI.Web.Pages.Shared
@inject Sim.Application.Interfaces.IAppServiceAtendimento MeuAtendimento
@inject Sim.Application.Interfaces.IAppServiceSecretaria _appOrganizacao


@{
    var _org = await _appOrganizacao.DoList();
    var _unidades = _org.Where(s => s.Hierarquia == Domain.Organizacao.Model.EHierarquia.Secretaria);
    var _setores = new List<Sim.Domain.Organizacao.Model.EOrganizacao>();
    @if(_unidades.Any())
        _setores = _appOrganizacao.DoListHierarquia2from1Async(_org, _unidades.FirstOrDefault().Id).Result.ToList();
}

<ul id="sidenav-left" class="sidenav sidenav-fixed">

    <li class="no-padding alpha-text-6">
        <ul class="collapsible collapsible-accordion">
            <li class="@LayoutNavPages.InicioNavClass(ViewContext)">
                <div class="collapsible-header"><img src="~/icons/sedempi-166p.svg" width="150px" style="margin-top: 17px;"/><i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.InicioHomeNavClass(ViewContext) submit"><a class="" asp-page="/Index">Inicio<i class="left material-icons">home</i></a></li>
                        
                        @foreach (var item in _setores.Where(s => s.Ativo == true && s.Hierarquia == Domain.Organizacao.Model.EHierarquia.Setor).OrderBy(o => o.Nome)) {

                            var _class = string.Empty;
                            var _link = string.Empty;

                            @switch (item.Nome.ToLower())
                            {
                                case "pat":
                                    _class = LayoutNavPages.InicioPATNavClass(ViewContext);
                                    _link = "/Pat/Index";
                                    break;
                                case "sebrae aqui":
                                    _class = LayoutNavPages.InicioSANavClass(ViewContext);
                                    _link = "/SebraeAqui/Index";
                                    break;
                                case "sala do empeendedor":
                                    _class = LayoutNavPages.InicioSENavClass(ViewContext);
                                    _link = "./";
                                    break;
                                case "banco do povo":
                                    _class = LayoutNavPages.InicioBPPNavClass(ViewContext);
                                    _link = "/Banco-do-Povo/Index";
                                    break;
                                default:
                                    break;
                            }

                           <li class="@_class"><a class="submit" asp-page="@_link">@item.Nome<i class="left material-icons">chevron_right</i></a></li>                             
                        }
                        <!--
                        <li class="@LayoutNavPages.InicioPATNavClass(ViewContext) submit"><a class="" asp-page="/Pat/Index">PAT<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioBPPNavClass(ViewContext) submit"><a class="" href="#" >Banco do Povo<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioSANavClass(ViewContext) submit"><a class="" asp-page="/SebraeAqui/Index">Sebrae Aqui<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioSENavClass(ViewContext) submit"><a class="" href="#" >Sala do Empreendedor<i class="left material-icons">chevron_right</i></a></li>
                        -->
                    </ul>
                </div>
            </li>
            <li class="@LayoutNavPages.AtendimentoNavClass(ViewContext)">
                <div class="collapsible-header">Atendimentos<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        @{
                            var _has_atendimento = await MeuAtendimento.ListAtendimentoAtivoAsync(User.Identity.Name);
                        }
                        @if(_has_atendimento.Any())
                        {
                            <li class="@LayoutNavPages.AtendimentoAtivoNavClass(ViewContext) submit"><a asp-page="/Atendimento/Novo/Index" class="">Continuar<i class="left material-icons">shortcut</i></a></li>
                        }
                        else
                        {
                            <li class="@LayoutNavPages.AtendimentoAtivoNavClass(ViewContext) submit"><a asp-page="/Atendimento/Cliente/Index" class="">Novo<i class="left material-icons">alarm_add</i></a></li>
                        }
                        <li class="@LayoutNavPages.AtendimentoDiarioNavClass(ViewContext) submit"><a asp-page="/Atendimento/Index" class="">Diários<i class="left material-icons">access_time</i></a></li>
                        <li class="@LayoutNavPages.AtendimentoConsultaNavClass(ViewContext) submit"><a asp-page="/Atendimento/Consulta/Index" class="">Consultar<i class="left material-icons">search</i></a></li>
                        <li class="@LayoutNavPages.AtendimentoAnonimoNavClass(ViewContext) submit"><a asp-page="/Atendimento/Anonimo/Index" class="" >Anônimo<i class="left material-icons">person_2</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="@LayoutNavPages.ClientesNavClass(ViewContext)">
                <div class="collapsible-header">Clientes<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.ClientesPessoasNavClass(ViewContext) submit"><a asp-page="/Cliente/Index" class="">Pessoas<i class="left material-icons">group</i></a></li>
                        <li class="@LayoutNavPages.ClientesEmpresasNavClass(ViewContext) submit"><a asp-page="/Empresa/Index" class="">Empresas<i class="left material-icons">domain</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="@LayoutNavPages.AgendaNavClass(ViewContext)">
                <div class="collapsible-header">Agenda<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.AgendaEventosNavClass(ViewContext) submit"><a asp-page="/Agenda/Index" class="">Eventos<i class="left material-icons">event</i></a></li>
                        <li class="@LayoutNavPages.AgendaPlannerNavClass(ViewContext) submit"><a asp-page="/Planner/Index" class="">e-Planner<i class="left material-icons">description</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="@LayoutNavPages.PowerBINavClass(ViewContext)">
                <div class="collapsible-header">Power BI<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.PowerBIEmpregrosNavClass(ViewContext) submit"><a asp-area="SimBI" asp-page="/Empregos/Index" class="">Empregos<i class="left  material-icons">engineering</i></a></li>
                        <li class="@LayoutNavPages.PowerBIAtendimentoNavClass(ViewContext) submit"><a asp-area="SimBI" asp-page="/Atendimentos/Index" class="">Atendimentos<i class="left  material-icons">access_time</i></a></li>
                        <li class="@LayoutNavPages.PowerBIEmpresasNavClass(ViewContext) submit"><a asp-area="SimBI" asp-page="/Empresas/Index" class="">Empresas<i class="left material-icons">domain</i></a></li>
                    </ul>
                </div>
            </li>

            @if (User.IsInRole("Administrador"))
            {
                <li class="@LayoutNavPages.ConfiguracoesNavClass(ViewContext)">
                    <div class="collapsible-header">Configurações<i class="material-icons chevron">chevron_left</i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="@LayoutNavPages.ConfigSistemaNavClass(ViewContext) submit"><a class="" asp-area="Settings" asp-page="/Common/Index">Sistema<i class="left material-icons">settings</i></a></li>
                            <li class="@LayoutNavPages.ConfigContasNavClass(ViewContext) submit"><a asp-area="Admin" asp-page="/Manager/Index" class="">Contas<i class="left material-icons">admin_panel_settings</i></a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </li>
</ul>

