@using Sim.UI.Web.Pages.Shared
@inject Sim.Application.Interfaces.IAppServiceAtendimento MeuAtendimento

<ul id="sidenav-left" class="sidenav sidenav-fixed">

    <li class="no-padding alpha-text-6">
        <ul class="collapsible collapsible-accordion">
            <li class="waves-effect waves-teal @LayoutNavPages.InicioNavClass(ViewContext)">
                <div class="collapsible-header"><img src="~/icons/sedempi-166p.svg" width="150px" style="margin-top: 17px;"/><i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body alpha-text-6">
                    <ul>
                        <li class="@LayoutNavPages.InicioHomeNavClass(ViewContext)"><a class="waves-effect submit" asp-page="/Index">Inicio<i class="left material-icons">home</i></a></li>
                        <li class="@LayoutNavPages.InicioPATNavClass(ViewContext)"><a class="waves-effect submit" asp-page="/Pat/Index">PAT<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioBPPNavClass(ViewContext)"><a class="waves-effect" href="#" >Banco do Povo<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioSANavClass(ViewContext)"><a class="waves-effect submit" asp-page="/SebraeAqui/Index">Sebrae Aqui<i class="left material-icons">chevron_right</i></a></li>
                        <li class="@LayoutNavPages.InicioSENavClass(ViewContext)"><a class="waves-effect" href="#" >Sala do Empreendedor<i class="left material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="waves-effect waves-teal @LayoutNavPages.AtendimentoNavClass(ViewContext)">
                <div class="collapsible-header">Atendimentos<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        @{
                            var _has_atendimento = await MeuAtendimento.ListAtendimentoAtivoAsync(User.Identity.Name);

                        }
                        @if(_has_atendimento.Any())
                        {
                            <li class="@LayoutNavPages.AtendimentoAtivoNavClass(ViewContext)"><a asp-page="/Atendimento/Novo/Index" class="waves-effect submit">Continuar<i class="left material-icons">shortcut</i></a></li>
                        }
                        else
                        {
                            <li class="@LayoutNavPages.AtendimentoAtivoNavClass(ViewContext)"><a asp-page="/Cliente/Index" class="waves-effect submit">Novo<i class="left material-icons">alarm_add</i></a></li>
                        }
                        <li class="@LayoutNavPages.AtendimentoDiarioNavClass(ViewContext)"><a asp-page="/Atendimento/Index" class="waves-effect submit">Diários<i class="left material-icons">access_time</i></a></li>
                        <li class="@LayoutNavPages.AtendimentoConsultaNavClass(ViewContext)"><a asp-page="/Atendimento/Consulta/Index" class="waves-effect submit">Consultar<i class="left material-icons">search</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="waves-effect waves-teal @LayoutNavPages.ClientesNavClass(ViewContext)">
                <div class="collapsible-header">Clientes<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.ClientesPessoasNavClass(ViewContext)"><a asp-page="/Cliente/Index" class="waves-effect submit">Pessoas<i class="left material-icons">group</i></a></li>
                        <li class="@LayoutNavPages.ClientesEmpresasNavClass(ViewContext)"><a asp-page="/Empresa/Index" class="waves-effect submit">Empresas<i class="left material-icons">domain</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="waves-effect waves-teal @LayoutNavPages.AgendaNavClass(ViewContext)">
                <div class="collapsible-header">Agenda<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.AgendaEventosNavClass(ViewContext)"><a asp-page="/Agenda/Index" class="waves-effect submit">Eventos<i class="left material-icons">event</i></a></li>
                        <li class="@LayoutNavPages.AgendaPlannerNavClass(ViewContext)"><a asp-page="/Planner/Index" class="waves-effect submit">e-Planner<i class="left material-icons">description</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="waves-effect waves-teal @LayoutNavPages.PowerBINavClass(ViewContext)">
                <div class="collapsible-header">Power BI<i class="material-icons chevron">chevron_left</i></div>
                <div class="collapsible-body">
                    <ul>
                        <li class="@LayoutNavPages.PowerBIAtendimentoNavClass(ViewContext)"><a asp-area="SimBI" asp-page="/Atendimentos/Index" class="waves-effect submit">Atendimentos<i class="left  material-icons">access_time</i></a></li>
                        <li class="@LayoutNavPages.PowerBIEmpresasNavClass(ViewContext)"><a asp-area="SimBI" asp-page="/Empresas/Index" class="waves-effect submit">Empresas<i class="left material-icons">domain</i></a></li>
                    </ul>
                </div>
            </li>

            @if (User.IsInRole("Administrador"))
            {
                <li class="waves-effect waves-teal @LayoutNavPages.ConfiguracoesNavClass(ViewContext)">
                    <div class="collapsible-header">Configurações<i class="material-icons chevron">chevron_left</i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="@LayoutNavPages.ConfigSistemaNavClass(ViewContext)"><a class="waves-effect submit" asp-area="Settings" asp-page="/Common/Index">Sistema<i class="left material-icons">settings</i></a></li>
                            <li class="@LayoutNavPages.ConfigContasNavClass(ViewContext)"><a asp-area="Admin" asp-page="/Manager/Index" class="waves-effect submit">Contas<i class="left material-icons">account_circle</i></a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </li>
</ul>

