@page
@model Sim.UI.Web.Pages.BancoPovo.Recusados.IndexModel
@{
    ViewData["Title"] = "Banco do Povo";
    ViewData["ActivePageBPP"] = Web.Pages.BancoPovo.NavPage.Recusados;
}
<partial name="_NavPage" />
<div class="card">
    <div class="card-header grey-text">Meus Contratos<i class="material-icons left">text_snippet</i></div>
        @if(Model.MeusContratos != null) {
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Processo</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Situação</th>
                        <th>Valor</th>
                        <th>CMD</th>
                    </tr>
                </thead>
                <tbody>     
                    @{ var _cont = 0; }
                    @foreach (var c in Model.MeusContratos) {
                        _cont++;
                        <tr>
                            <td>@_cont</td>
                            <td>@Html.DisplayFor(model => c.Numero)</td>
                            <td>
                                @{ 
                                    var _isempresa = c.Empresa != null ? c.Empresa.Nome_Empresarial : c.Cliente.Nome;
                                }
                                @Html.DisplayFor(modelc => _isempresa)
                            </td>
                            <td>@Html.DisplayFor(model => c.Data)</td>
                            <td>
                                @{ var _situacao = c.Situacao.ToString();}                                
                                <a class="btn-small waves-effect waves-light blue">@Html.DisplayFor(model => _situacao)</a>
                            </td>
                            <td>@Html.DisplayFor(model => c.Valor)</td>
                            <td><a class="btn-small waves-effect waves-light orange" asp-page="./Edit/Index" asp-route-id="@c.Id"><i class="material-icons">edit_document</i></a></td>
                        </tr>                        
                    }       
                </tbody>
            </table>
        }
    <div class="card-action">
        Lista de contratos iniciados para liberação de crédito
    </div>
</div>

<div>

</div>