@page
@model Sim.UI.Web.Areas.SimBI.Pages.Eventos.IndexModel
@inject Sim.Application.Cnpj.Interfaces.IAppServiceCnpj appServiceCnpj;

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI: Eventos";
}

<form method="post">
    <nav class="row transparent">
        <div class="row nav-wrapper">
            <div class="input-field col s12 m12 l12 no-padding">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="InputAno" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>      
        </div>
    </nav>
</form>

<partial name="_StatusMessage" model="Model.StatusMessage" />

    
        <div class="row">
            <div class="box-container-card">                    
                <div class="box-column">
                    <div class="box-column-row">
                        @{ var _econt = Model.LEventos.EventosR.Value.Value;}

                        <div class="box-card">
                            <div class="card-header grey-text">@Model.LEventos.EventosR.Value.Key</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <span class="font-h4 blue-text">@Model.LEventos.EventosR.Value.Value</span>
                                </div>
                            </div>    
                            </div>

                        <div class="box-card">
                            <div class="card-header grey-text">@Model.LEventos.EventosC.Value.Key</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <span class="font-h4 red-text">@Model.LEventos.EventosC.Value.Value</span>
                                </div>
                            </div>    
                        </div>
                        
                    </div>

                    <div class="box-column-row">
                        <div class="box-card">
                            <div class="card-header grey-text">@Model.LEventos.Participantes.Value.Key</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <span class="font-h4 blue-text">@Model.LEventos.Participantes.Value.Value</span>
                                </div>
                            </div>    
                        </div>                    
                        <div class="box-card">
                            <div class="card-header grey-text">Panorama</div>
                            <div class="box-around">
                                @foreach (var op in Model.LEventos.ParticipantesGenero)
                                {
                                    float v1 = op.Value;
                                    float v2 = Model.LEventos.Participantes.Value.Value;
                                    float r = (v1 / v2) * 100;
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@op.Key</p>
                                        <p class="blue-text font-h6">@op.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </a>   
                                }                            
                            </div>
                        </div>
                        <div class="box-card">
                            <div class="card-header grey-text">@Model.LEventos.TaxaPreenchimentoParticipantes.Value.Key</div>
                            <div class="box-stretch mgn-10">
                                <div class="grey-text">
                                    <span class="font-h4 blue-text">@Model.LEventos.TaxaPreenchimentoParticipantes.Value.Value.ToString("N2")%</span>
                                </div>
                            </div>    
                        </div>   
                    </div>

                    <div class="box-column-row">
                        <div  class="box-card">
                            <div class="card-header grey-text">Faixa Etária</div>
                            <div class="box-around">
                                @foreach (var item in Model.LEventos.FaixaEtaria)
                                {
                                    float v1 = item.Value;
                                    float v2 = _econt;
                                    float r = (v1 / v2) * 100;
                                    
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@item.Key</p>
                                        <p class="blue-text font-h6">@item.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="box-column-row">
                        <div  class="box-card">
                            <div class="card-header grey-text">Ocorrências</div>
                            <div class="box-around">
                                @foreach (var item in Model.LEventos.Eventos)
                                {
                                    float v1 = item.Value;
                                    float v2 = _econt;
                                    float r = (v1 / v2) * 100;
                                    
                                    <a class="box-cell-item-flex font-size-12">
                                        <p class="grey-text">@item.Key</p>
                                        <p class="blue-text font-h6">@item.Value</p>
                                        <p class="grey-text">(@r.ToString("N2")%)</p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    


